/****** START _global.css ******/

body{
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;

  background: #F9F9F9;
}

a{
  text-decoration: none;
  color: #000;
}

.link-blue--large{
  color: blue;
}

img{
  width: 100%;
}

article{
  margin-top: 3em;
  margin-bottom: 3em;
}



/* TYPOGRAPHY */
h1{
  font-size: 48px;
  font-weight: 100;
  font-style: italic;
}

h2{
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
}

h3{
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: .05em;
  margin-bottom: .25em;
  margin-top: .25em;

}

h4{
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-bottom: .25em;

}

em{
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.05em;
  padding: .5em;
  background: #283341;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;

  transition: background 600ms ease;
}
.is--flashing{
  background: #f9f9f9;
}


p{
  font-size: 16px;
  font-weight: 300;
  margin-top: .25em;
}

bold{
  font-weight: 400;
}

.bold{
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text--center{
  text-align: center;
  margin: 0 auto;
}

.text--margin-bottom-0{
  margin-bottom: 0;
}


/* LAYOUT */
.flex{
  display: flex;
  align-items: center;
}

.flex--wrap{
  flex-wrap: wrap;
}

.nav-spacer{
  width: 100%;
  height: 56px;
}

.container{
  width: 100%;
  max-width: 964px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

[class|=col]{
  margin-right: auto;
  margin-left: auto;
}


.col-12{
  width: 100%;
}

.col-8{
  width: 75%;
}

.col-6{
  width: 50%;
}

.margin-bottom--25, .tuck-down{
  margin-bottom: .25em;
}
.margin-top--25, .tuck-up{
  margin-top: .25em;
}
.margin-0{
  margin: 0;
}

.margin-horizontal--large{
  margin: 4em auto;
}
