/****** START _projects.css ******/

.projects{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.projects__item{
  width: 100%;
  height: 50vh;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  /* background: pink; */
  /* box-shadow: inset 0px 0px 0px 1px #000; */

  &:first-child{
    flex: 0 1 100%;
  }

  &:not(first-child){
    flex: 0 1 33.33%;
  }
}

.project__1{
  background-image: url('https://via.placeholder.com/1200x400');
}
.project__2{
  background-image: url('https://via.placeholder.com/200');
}
.project__3{
  background-image: url('https://via.placeholder.com/200');
}
.project__4{
  background-image: url('https://via.placeholder.com/200');
}


.projectImage{
  position: absolute;
}

.projectOverlay{
  width: 100%;
  height: 100%;
  position: relative;
  opacity: .1;

  & .overlay__scrim{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0,0,0,.5);
    z-index: 100;
  }

  & .overlay__caption{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background: grey;
    z-index: 101;
  }

  &--show{
    opacity: 1;
  }
}
